<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus</title>
</head>
<body>
    <header>
        <nav>
            <li> <a href="/">Shop</a></li>
            <li> <a href="/admin/add-products">Add Product</a></li>
            <li> <a href="/contactus">Contact Us</a></li>
            <li> <a href="/getproducts">Get Products</a></li>
        </nav>
    </header>
    <main>
        <div>
            <h1>Book a call</h1>
        <p>Book  call slot and our representative will call you within 1 hr of selected time</p>
        </div>

            <form action="/success" method="POST">
        <div>
              Name
               <input type="text" name="username">
            </div>
            <div>
                Email
                <input type="email" name="email" >
         </div> 
         <button type="submit">Get A Call</button>
        
    </form>

    </main>
    
</body>
</html>